[Unit]
Description=SSH Tunnel For Port 1111
After=network.target

[Service]
ExecStart=/bin/ssh -nNT -oStrictHostKeyChecking=no -i /root/remote.rsa -R 1111:localhost:1111 cloudify@172.25.1.1
Type=simple

[Install]
